<%= render :partial => 'spree/admin/shared/download_sub_menu' %>

<div class="toolbar">
  <ul class="actions">
    <li id="new_download_category_link">
      <%= button_link_to 'New download category', new_admin_download_category_path, {:remote => true, :icon => 'add', :id => 'admin_new_download_category'} %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t('.listing') %></h1>

<div id="new_download_category"></div>

<%= render "download_categories" %>
