<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @download_category.name %>
</p>


<%= link_to 'Edit', edit_download_category_path(@download_category) %> |
<%= link_to 'Back', download_categories_path %>
