<%= render :partial => 'spree/admin/shared/article_sub_menu' %>

<div class="toolbar">
  <ul class="actions">
    <li id="new_article_category_link">
      <%= button_link_to 'New article category', new_admin_article_category_path, {:remote => true, :icon => 'add', :id => 'admin_new_article_category'} %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t('.listing') %></h1>

<div id="new_article_category"></div>

<%= render "article_categories" %>
